$color-white: #ffffff;
$color-grey: #414141;
$color-grey-light: #6C6C6C;
$line-color: #d8d8d8;
$line-border-color: #e2e2e2;
$border-base-button: #979797;
$color-button-orange: #FE985B;
$color-button-purple: #FE4FA7;
$bg-grey: #f6fafd;
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xxl-min: 1400px;

$xs-max: 576px;
$sm-max: 767px;
$md-max: 991px;
$lg-max: 1199px;
$xl-max: 1399px;